<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Syndash - Bootstrap4 Admin Template</title>
    <!--favicon-->
    <link rel="icon" th:href="@{/resources/assets/images/favicon-32x32.png}" type="image/png" />
    <!--plugins-->
    <link th:href="@{/resources/assets/plugins/simplebar/css/simplebar.css}" rel="stylesheet" />
    <link th:href="@{/resources/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet" />
    <link th:href="@{/resources/assets/plugins/metismenu/css/metisMenu.min.css}" rel="stylesheet" />
    <!-- loader-->
    <link th:href="@{/resources/assets/css/pace.min.css}" rel="stylesheet" />
    <script th:src="@{/resources/assets/js/pace.min.js}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/resources/assets/css/bootstrap.min.css}" />
    <!-- Icons CSS -->
    <link rel="stylesheet" th:href="@{/resources/assets/css/icons.css}" />
    <!-- App CSS -->
    <link rel="stylesheet" th:href="@{/resources/assets/css/app.css}" />
    <link rel="stylesheet" th:href="@{/resources/assets/css/dark-sidebar.css}" />
    <link rel="stylesheet" th:href="@{/resources/assets/css/dark-theme.css}" />
</head>
<body>
<!-- wrapper -->
<div class="wrapper">
    <!--page-wrapper-->
    <div class="page-wrapper">
        <!--page-content-wrapper-->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="">
                    <div class="">
                        <!--container-->

                        <div class="container py-2">
                            <h2 class="font-weight-light text-center text-muted py-3">救生衣溯源</h2>
                            <!-- timeline item 1 -->
                            <div class="row no-gutters">
                                <div class="col-sm">
                                    <!--spacer-->
                                </div>
                                <!-- timeline item 1 center dot -->
                                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                                    <div class="row h-50">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <h5 class="m-2">
                                        <span class="badge badge-pill bg-light border">&nbsp;</span>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <!-- timeline item 1 event content -->
                                <div class="col-sm py-2">
                                    <div class="card radius-15">
                                        <div class="card-body">
                                            <div class="float-right text-muted small">更新时间：Jan 9th 2019 7:00 AM</div>
                                            <h4 class="card-title text-muted">设计阶段</h4>
                                            <p class="card-text">在上海市人民路32号中国商飞研究院被设计，主要是航空领域救生衣</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <!-- timeline item 2 -->
                            <div class="row no-gutters">
                                <div class="col-sm py-2">
                                    <div class="card border-primary shadow radius-15">
                                        <div class="card-body">
                                            <div class="float-right text-primary small">更新时间Jan： 10th 2019 8:30 AM</div>
                                            <h4 class="card-title text-primary">制造阶段</h4>
                                            <p class="card-text">在北京市南京路32号中国商飞制造所院被制造，主要是使用航空材料来组装救生衣</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <h5 class="m-2">
                                        <span class="badge badge-pill bg-primary">&nbsp;</span>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <!--spacer-->
                                </div>
                            </div>
                            <!--/row-->
                            <!-- timeline item 3 -->
                            <div class="row no-gutters">
                                <div class="col-sm">
                                    <!--spacer-->
                                </div>
                                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <h5 class="m-2">
                                        <span class="badge badge-pill bg-light border">&nbsp;</span>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-sm py-2">
                                    <div class="card radius-15">
                                        <div class="card-body">
                                            <div class="float-right text-muted small">更新时间：Jan 11th 2019 8:30 AM</div>
                                            <h4 class="card-title">组装阶段</h4>
                                            <p>在南京市佛山路34号中国商飞组装研究院完成组装</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                            <!-- timeline item 4 -->
                            <div class="row no-gutters">
                                <div class="col-sm py-2">
                                    <div class="card radius-15">
                                        <div class="card-body">
                                            <div class="float-right text-muted small">Jan 12th 2019 11:30 AM</div>
                                            <h4 class="card-title">航空公司阶段</h4>
                                            <p>在成都市双流区双流机场，成都航空CR929飞机上使用</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <h5 class="m-2">
                                        <span class="badge badge-pill bg-light border">&nbsp;</span>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <!--spacer-->
                                </div>
                            </div>
                            <!--/row-->


                            <!--/row-->
                            <!-- timeline item 3 -->
                            <div class="row no-gutters">
                                <div class="col-sm">
                                    <!--spacer-->
                                </div>
                                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <h5 class="m-2">
                                        <span class="badge badge-pill bg-light border">&nbsp;</span>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-sm py-2">
                                    <div class="card radius-15">
                                        <div class="card-body">
                                            <div class="float-right text-muted small">更新时间：Jan 11th 2019 8:30 AM</div>
                                            <h4 class="card-title">维修阶段</h4>
                                            <p>重庆市虞山区进行维修</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->









                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end page-content-wrapper-->
    </div>
    <!--end page-wrapper-->
    <!--start overlay-->
    <div class="overlay toggle-btn-mobile"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->
    <!--footer -->
    <div class="footer">
        <p class="mb-0">Syndash @2020 | Developed By : <a href="http://www.bootstrapmb.com" target="_blank">codervent</a>
        </p>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->
<!--start switcher-->
<div class="switcher-wrapper">
    <div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
    </div>
    <div class="switcher-body">
        <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
        <hr/>
        <h6 class="mb-0">Theme Styles</h6>
        <hr/>
        <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-radio">
                <input type="radio" id="darkmode" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="darkmode">Dark Mode</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="lightmode" name="customRadio" checked class="custom-control-input">
                <label class="custom-control-label" for="lightmode">Light Mode</label>
            </div>
        </div>
        <hr/>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="DarkSidebar">
            <label class="custom-control-label" for="DarkSidebar">Dark Sidebar</label>
        </div>
        <hr/>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="ColorLessIcons">
            <label class="custom-control-label" for="ColorLessIcons">Color Less Icons</label>
        </div>
    </div>
</div>
<!--end switcher-->
<!-- JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/resources/assets/js/jquery.min.js}"></script>
<script th:src="@{/resources/assets/js/popper.min.js}"></script>
<script th:src="@{/resources/assets/js/bootstrap.min.js}"></script>
<!--plugins-->
<script th:src="@{/resources/assets/plugins/simplebar/js/simplebar.min.js}"></script>
<script th:src="@{/resources/assets/plugins/metismenu/js/metisMenu.min.js}"></script>
<script th:src="@{/resources/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js}"></script>
<!-- App JS -->
<script th:src="@{/resources/assets/js/app.js}"></script>
</body>

</html>