<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loongrise.dao.AviationMaterialCateMapper" >
  <resultMap id="BaseResultMap" type="com.loongrise.entity.AviationMaterialCate" >
    <id column="am_category_id" property="am_category_id" jdbcType="INTEGER" />
    <result column="am_category_name" property="am_category_name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    am_category_id, am_category_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from am_category
    where am_category_id = #{am_category_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from am_category
    where am_category_id = #{am_category_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.loongrise.entity.AviationMaterialCate" >
    insert into am_category (am_category_id, am_category_name)
    values (#{am_category_id,jdbcType=INTEGER}, #{am_category_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.loongrise.entity.AviationMaterialCate" >
    insert into am_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="am_category_id != null" >
        am_category_id,
      </if>
      <if test="am_category_name != null" >
        am_category_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="am_category_id != null" >
        #{am_category_id,jdbcType=INTEGER},
      </if>
      <if test="am_category_name != null" >
        #{am_category_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.loongrise.entity.AviationMaterialCate" >
    update am_category
    <set >
      <if test="am_category_name != null" >
        am_category_name = #{am_category_name,jdbcType=VARCHAR},
      </if>
    </set>
    where am_category_id = #{am_category_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.loongrise.entity.AviationMaterialCate" >
    update am_category
    set am_category_name = #{am_category_name,jdbcType=VARCHAR}
    where am_category_id = #{am_category_id,jdbcType=INTEGER}
  </update>
</mapper>